body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#map {
    height: 500px;
    width: 100%;
}

.countdown {
    font-size: 2em;
    text-align: center;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}